{% extends 'party/base.html' %}
{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\image\logo6.png" class="d-block w-100" alt="..." style=width="100" height="200">
    </div>
    <div class="carousel-item">
      <img src="\image\jul.png" class="d-block w-100" alt="..."style=width="100" height="200">
    </div>
    
    <div class="carousel-item">
      <img src="\image\fødsles.png" class="d-block w-100" alt="..."style=width="100" height="200">
    </div>
    
    <div class="carousel-item">
      <img src="\image\bryl.png" class="d-block w-100" alt="..."style=width="100" height="200">
    </div>
    
    <div class="carousel-item">
      <img src="\image\fantasi.png" class="d-block w-100" alt="..."style=width="100" height="200">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<h1><b><i><font color=green>Har I brug for noget der ikke støjer</font><br>
    <font color=blue>Kommer jeg og laver fest og løjer</font><br>
    <font color=red>Jeg sørger for fest</font><br>
    <font color= purple>Til jer og hver en gæst</font></i></b></h1>
    <br>
{% endblock content %}